.login-form {
    margin-top: 40px;
    padding: 70px;
}

.card-header {
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
}

.form-field {
    width: 100%;
    font-size: 18px;
    padding: 10px 0px;
}

.card-footer {
    padding: 20px;
    background-color: #fff;
}

.b-login {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 15px;
}